doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Offside', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door', rel='stylesheet', type='text/css')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
    script(src='http://labs.creative-area.net/jquery.formautofill/js/jquery.formautofill.min.js')
    script(src='/javascripts/foundation.min.js')
    script(src='/javascripts/main.js')


  body
    block content
